 <div class="user-details">
  <h2> {{site.user_description}} </h2>
</div>
  <div class="user">
    <div class="tech">
      <h2>Github</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p class="project-link" href="#">Check it out</p>
    </div>
    <div class="tech">
      <h2>Bilibili</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p >点击链接</p>
    </div>
</div>
